{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %} Welcome | {{ block.super }} {% endblock %}

<style>
{% block style %}

.jumbotron {
    background-color: #47439b;
    color: #fff;
}

.navbar {
    margin-bottom: 0px !important;
}
{% endblock %}
</style>

{% block jumbotron %}
<div class="jumbotron">
<div class="container">
<div class="row">
  <div class="col-sm-6">
        <h1>Try Django 1.8</h1>
        <p>This is the home of the MPV Landing page.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Join Us</a>
        </p>
  </div>
  <div class="col-sm-6" style="background-color:black;height:300px;">
    
  </div>
</div>
</div>
</div>
{% endblock %}
	
{% block content %}

<div class="row">
  <div class="col-sm-3 pull-right">
    <a class="lead text-align-center">{{ title }}</a>
    <form method='POST' action=''>{% csrf_token %}
      {{ form|crispy }}
      <input type='submit' value='Sign Up'>
    </form>
  </div>


  <div class="col-sm-3">
    <a class="lead text-align-center">Built with Django and Bootstrap</a>
  </div>
  
  <div class="col-sm-3">
    <a class="lead text-align-center">Created for starters of all kinds.</a>
  </div>
  
  <div class="col-sm-3">
    <a class="lead text-align-center">Always open source.</a>
  </div>
</div>
{% endblock %}
