{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %} Welcome | {{ block.super }} {% endblock %}

{% block jumbotron_content %}
<div class="row">
  <div class="col-sm-6">
        <h1>Try Django 1.8</h1>
        <p>This is the home of the MPV Landing page.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Join Us</a>
        </p>
  </div>
  <div class="col-sm-6" style="background-color:black;height:300px;">
    
  </div>
</div>
{% endblock %}
	
{% block content %}

<div class="row">
  <div class="col-sm-3 pull-right">
    <a class="lead">{{ title }}</a>
    <form method='POST' action=''>{% csrf_token %}
      {{ form|crispy }}
      <input type='submit' value='Sign Up'>
    </form>
  </div>


  <div class="col-sm-3">
    <a class="lead">Built with Django and Bootstrap</a>
  </div>
  
  <div class="col-sm-3">
    <a class="lead">Created for starters of all kinds.</a>
  </div>
  
  <div class="col-sm-3">
    <a class="lead">Always open source.</a>
  </div>
</div>
{% endblock %}
